apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ accounts.reader }}
  namespace: {{ common.namespace }}
  labels: {{ common.labels }}

---

kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ accounts.reader }}
  namespace: {{ common.namespace }}
  labels: {{ common.labels }}
rules:
  - apiGroups:
      - ""
    resources: ["*"]
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - extensions
    resources: ["*"]
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - apps
    resources: ["*"]
    verbs:
      - get
      - list
      - watch

---

kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ accounts.reader }}
  namespace: {{ common.namespace }}
  labels: {{ common.labels }}
subjects:
  - kind: ServiceAccount
    name: {{ accounts.reader }}
    namespace: {{ common.namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ accounts.reader }}
