apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ accounts.writer }}
  namespace: {{ common.namespace }}
  labels: {{ common.labels }}

---

kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ accounts.writer }}
  namespace: {{ common.namespace }}
  labels: {{ common.labels }}
rules:
  - apiGroups:
      - ""
      - "extensions"
      - "apps"
    resources:
      - "*"
    verbs:
      - "*"
  - apiGroups:
      - "batch"
    resources:
      - jobs
      - cronjobs
    verbs:
      - "*"

---

kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ accounts.writer }}
  namespace: {{ common.namespace }}
  labels: {{ common.labels }}
subjects:
  - kind: ServiceAccount
    name: {{ accounts.writer }}
    namespace: {{ common.namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ accounts.writer }}
